{% load static i18n %}

<table id="log-entries-table"
       class="mt-6 w-full border-collapse"
       hx-get="{% url 'log_inspector:log_entries' filename=filename %}?partial=true"
       hx-trigger="load, every 1s"
       hx-target="#log-entries-data"
       hx-swap="outerHTML">
    <thead>
    <tr>
        <th scope="col">{% trans 'No.' %}</th>
        <th scope="col">{% trans 'Log entries' %}</th>
    </tr>
    </thead>
    <tbody id="log-entries-data">
    <tr>
        <td colspan="2" class="border p-2">{% trans 'No entries!' %}</td>
    </tr>
    </tbody>
</table>